<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<?include $(sys.CURRENTDIR)Variables.wxi ?>
	<Fragment>
		<StandardDirectory Id="ProgramFiles64Folder">
			<Directory Id="VENDORDIR" Name="Devolutions">
				<Directory Id="INSTALLDIR" Name="Windows Terminal" >
					<Directory Id="PROFILEICONSDIR" Name="ProfileIcons" />
					<Directory Id="UIXAMLDIR" Name="Microsoft.UI.Xaml">
						<Directory Id="UIXAMLASSETSDIR" Name="Assets"/>
					</Directory>
				</Directory>
			</Directory>
		</StandardDirectory>
	</Fragment>
</Wix>